.kyan {
  display: block;
  margin-right: auto;
  margin-left: 30px;
  width: 50%;
  padding: 10px;
}
.mozi {
  display: block;
  margin-right: auto;
  margin-left: 0;
  width: 70%;
  padding: 20px;
  color: rgb(8, 10, 12);
  text-align: left;
}
h3 {
  color: black;
}
.saa {
  display: block;
  margin-right: auto;
  margin-left: 0;
  width: 70%;
  padding: 20px;
  color: rgb(8, 10, 12);
}
.aka {
  background-color: #d8e1de;
  padding-bottom: 49px;
  position: relative;
  width: 390px;
  margin: 0 auto;
}
.kumo1 {
  display: block;
  margin-left: auto;
  margin-left: 0;
  width: 50%;
  height: 50%;
}
.kumo2 {
  display: block;
  margin-right: auto;
  margin-right: 0;
  width: 50%;
}
.idou {
  position: absolute;
  top: 0;
  right: 20px;
  width: fit-content;
  width: 20%;
}
